body {
  background-color: #005A9C;
}

h1 {
  color: #87CEFA;
  text-align: center;
}

p {
  font-family: Times New Roman;
  font-size: 30px;
  color: white;
}


h2 {
  color: #87CEFA;
  text-align: center;
}
