body
{background-color: #87CEFA;}

h1
{color: #FFFFFF; text-align: center;}

table, tr, td
{border: 1px solid white; background-color: #CEE8F0; color: #1E90FF; text-align: center;}

table
{width: 100%;}

